# Dependencies
node_modules
pnpm-debug.log*

# Next.js
.next/
out/

# Production
build

# Misc
.DS_Store
*.pem

# Debug
*.log

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Documentation
README.md
*.md

# Tests
coverage/
.nyc_output/

# Cache
.cache/
.parcel-cache/

# Optional pnpm cache directory
.pnpm-store/

# Output of 'pnpm pack'
*.tgz
